<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qubittech.feeltastic.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RegistrationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddFeelingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.qubittech.feeltastic.app.AddFeelingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RelatedFeelingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.qubittech.feeltastic.app.RelatedFeelingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.qubittech.feeltastic.services.TrackingService">
            <intent-filter>
                <action android:name="com.qubittech.START_MONITORING" />
                <action android:name="com.qubittech.STOP_MONITORING" />
            </intent-filter>
        </service>

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </application>

</manifest>
