<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qubittech.feeltastic.app" android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.qubittech.feeltastic.app.LoadingActivity"
            android:label="@string/loading" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qubittech.feeltastic.app.RegistrationActivity"
            android:label="@string/register" >
            <intent-filter>
                <action android:name="com.qubittech.feeltastic.app.RegistrationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".AddFeelingFragment"-->
            <!--android:label="@string/addFeeling" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.qubittech.feeltastic.app.AddFeelingActivity" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".RelatedFeelingFragment"-->
            <!--android:label="@string/relatedFeelings" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.qubittech.feeltastic.app.RelatedFeelingActivity" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".CommentsFragment"-->
            <!--android:label="@string/comments" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.qubittech.feeltastic.app.CommentsActivity" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
        android:name="com.qubittech.feeltastic.app.MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="com.qubittech.feeltastic.app.MainActivity" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <service android:name="com.qubittech.feeltastic.services.TrackingService" >
            <intent-filter>
                <action android:name="com.qubittech.START_MONITORING" />
                <action android:name="com.qubittech.STOP_MONITORING" />
            </intent-filter>
        </service>

        <activity
            android:name="com.qubittech.feeltastic.app.LoginActivity"
            android:label="@string/title_activity_login" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>
